@media(max-width:1200px){
	.dis{
		display:none!important;
	}
	header{
	   position:sticky;
	   top:0px;
	   z-index:9999999999999;
	}
	section{
	backdrop-filter: blur(4px);
    padding: 10px 10px;
    background: rgb(128 128 128 / 29%);
	}
	nav{
	   
	position: fixed;
    width: 100%;
    top: 72px;
	}
	.col-md-3,.my_banner_content>.col-md-6{
		float:left;
		width:50%;
	}
	
	.my_facility img {
    width: 47%;
   }
   .first{
	  border: 1px solid rgb(255 255 255);
    width: 15%;
    margin: 8px 0px;
   }
   .sec{
	border: 1px solid rgb(255 255 255);
    width: 10%;
   }
   .menu{
	   line-height: 6;
    position: absolute;
    top:34px;
    right: 32px;
    width: 56%;
    transform: rotate(-180deg);
   }
   .my_Widget{
	   display:none;
   }
   .my_facility img {
    width: 80px;
    height: auto;
	padding:10px;s
    }
	.my_room>img {
    height: auto;
    width: 100%;
}
}